@model IEnumerable<ShopCustomerSystem.Models.Item>

@{
    ViewBag.Title = "Index";
   
}

<h2>Index</h2>

<input id="search" placeholder="Search..." onkeypress="SearchList(event)" />

<table class="table" id="list">
    <tr>
        <th>
            <a id="nameOrderLink" href="#" onclick="OrderList('name', 'asc');">@Html.DisplayNameFor(model => model.Name)</a>
        </th>
        <th>
            <a id="priceOrderLink" href="#" onclick="OrderList('price', 'asc');">@Html.DisplayNameFor(model => model.Price)</a>
        </th>
        <th>
            <a id="descriptionOrderLink" href="#" onclick="OrderList('description', 'asc');">@Html.DisplayNameFor(model => model.Description)</a>
        </th>
        <th>
            <a id="stockOrderLink" href="#" onclick="OrderList('stock', 'asc');">@Html.DisplayNameFor(model => model.Stock)</a>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Image)
        </th>*@
        <th>
            <a id="categoryOrderLink" href="#" onclick="OrderList('category', 'asc');">@Html.DisplayNameFor(model => model.Category.Name)</a>
        </th>
        <th>
            <a id="supplierOrderLink" href="#" onclick="OrderList('supplier', 'asc');">@Html.DisplayNameFor(model => model.Supplier.Name)</a>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="itemRow">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Name)
        </td>
        <td>
            <a id="addToCart" href="#" onclick="AddToCart('@item.Id');">Add to cart</a>
        </td>
    </tr>
}

</table>

@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        window.applicationBaseUrl = '@Url.Content(WebApiConfig.UrlPrefixRelative)';
    </script>

    <script src="~/Scripts/Custom/JavaScript.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/toastr.min.css" />
}